{% extends "base.html" %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
    <form action="" method="post">
        <legend>Sign in</legend>
    {% csrf_token %}
        {% if error %}
            <div>
                {{ error }}
            </div>
        {% endif %}
        <div>
            <label>Login</label>
            <input type="text" name="username" required="required"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" required="required"/>
        </div>
        <div>
            <input type="submit"/>
        </div>
        <div>
            <a href="{% url 'signup_endpoint' %}">Sing up</a> | 
            <a href="{% url 'recovery_endpoint' %}">Forgot password?</a>
        </div>
    </form>
{% endblock %}

{% block libs %}

{% endblock %}
